{% extends 'base.html' %}

{% load static %}

{% block styles %} 

<style>
    .header {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
        overflow: hidden;
    }

    .logo span {
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
    }

    .controls-btn {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 16px;
    }

    .filter-form {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 6fr;
        gap: 12px;
    }

</style>

{% endblock styles %}

{% block content %}

<header class="header">
    <div class="navbar container">
        <a href="#" class="logo">
            <img src="{% static 'logo.png' %}" alt="logo">
            <span style="display: flex;align-items: center;justify-content: start;"><span style="color: #990000;">Vi</span><span style="background-color: #000;color: #fff;">Re</span></span>
        </a>
        <div class="controls-btn">
            <a href="#" class="btn btn-outline-primary register-btn">Register</a>
            <a href="#" class="btn btn-primary">Login</a>
        </div>
    </div>
</header>

<section class="container search-section mb-3 mt-3">
    <h2 class="title-lg text-center">"Discover, Share, and Innovate"</h2>
    <div class="filter-section">
        <form action="" class="filter-form">
            <select class="form-control" name="" id="">
                <option value="">Topics</option>
                <option value="">Test</option>
            </select>
            <select class="form-control" name="" id="">
                <option value="">Published Year</option>
            </select>
            <select class="form-control" name="" id="">
                <option value="">Author</option>
            </select>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter for search ...">
                <div class="btn btn-primary">
                    <span class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="container new-documents-section">
    <h2 class="title text-center">Recent Documents</h2>
    <div class="g-6">
        <a href="#" class="card">
            <div class="card-img">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/thematic-carousel/Jones%20Climate%20Change%20Global.jpg?lastUpdated=20230720" alt="">
            </div>
            <div class="card-content">
                <p class="doc-topic">Article</p>
                <h3 class="card-title">Hello World</h3>
                <p>Journal of Strategic Security, Vol. 13, No. 4, Climate Change and Global Security (2020)</p>
                <span class="author">LongNguyen</span>
                <span class="time">17/05/2002 - 17:05</span>
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-img">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/thematic-carousel/Jones%20Climate%20Change%20Global.jpg?lastUpdated=20230720" alt="">
            </div>
            <div class="card-content">
                <p class="doc-topic">Article</p>
                <h3 class="card-title">Hello World</h3>
                <p>Journal of Strategic Security, Vol. 13, No. 4, Climate Change and Global Security (2020)</p>
                <span class="author">LongNguyen</span>
                <span class="time">17/05/2002 - 17:05</span>
               
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-img">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/thematic-carousel/Jones%20Climate%20Change%20Global.jpg?lastUpdated=20230720" alt="">
            </div>
            <div class="card-content">
                <p class="doc-topic">Article</p>
                <h3 class="card-title">Hello World</h3>
                <p>Journal of Strategic Security, Vol. 13, No. 4, Climate Change and Global Security (2020)</p>
                <span class="author">LongNguyen</span>
                <span class="time">17/05/2002 - 17:05</span>
                
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-img">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/thematic-carousel/Jones%20Climate%20Change%20Global.jpg?lastUpdated=20230720" alt="">
            </div>
            <div class="card-content">
                <p class="doc-topic">Article</p>
                <h3 class="card-title">Hello World</h3>
                <p>Journal of Strategic Security, Vol. 13, No. 4, Climate Change and Global Security (2020)</p>
                <span class="author">LongNguyen</span>
                <span class="time">17/05/2002 - 17:05</span>
                
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-img">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/thematic-carousel/Jones%20Climate%20Change%20Global.jpg?lastUpdated=20230720" alt="">
            </div>
            <div class="card-content">
                <p class="doc-topic">Article</p>
                <h3 class="card-title">Hello World</h3>
                <p>Journal of Strategic Security, Vol. 13, No. 4, Climate Change and Global Security (2020)</p>
                <span class="author">LongNguyen</span>
                <span class="time">17/05/2002 - 17:05</span>
            </div>
        </a>

        <a href="#" class="card">
            <div class="card-img">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/thematic-carousel/Jones%20Climate%20Change%20Global.jpg?lastUpdated=20230720" alt="">
            </div>
            <div class="card-content">
                <p class="doc-topic">Article</p>
                <h3 class="card-title">Hello World</h3>
                <p>Journal of Strategic Security, Vol. 13, No. 4, Climate Change and Global Security (2020)</p>
                <span class="author">LongNguyen</span>
                <span class="time">17/05/2002 - 17:05</span>
                
            </div>
        </a>
    </div>
</section>

<section class="container-sm featured-documents-section">
    <h2 class="title text-center">Featured Documents</h2>
    <div class="g-3">
        <div class="card">
            <div class="card-img-2">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/new-avenues/work-with-images.jpg" alt="">
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Bring your work to life with images
                </h3>
                <p>
                    Harness the power of visual materials—explore more than 3 million images now on JSTOR.
                </p>
                <a href="#" class="btn btn-outline-primary">Read more</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img-2">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/new-avenues/work-with-images.jpg" alt="">
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Bring your work to life with images
                </h3>
                <p>
                    Harness the power of visual materials—explore more than 3 million images now on JSTOR.
                </p>
                <a href="#" class="btn btn-outline-primary">Read more</a>
            </div>
        </div>

        <div class="card">
            <div class="card-img-2">
                <img src="https://www.jstor.org/assets/long-lived_20201006/images/new-avenues/work-with-images.jpg" alt="">
            </div>
            <div class="card-content">
                <h3 class="card-title">
                    Bring your work to life with images
                </h3>
                <p>
                    Harness the power of visual materials—explore more than 3 million images now on JSTOR.
                </p>
                <a href="#" class="btn btn-outline-primary">Read more</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}