* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: #333;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 3px;
    border: 2px solid #ddd;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.form-control {
    padding: 8px 16px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: transparent;
    display: block;
    width: 100%;
    outline-color: #888;
}

option {
    background-color: transparent !important;
    color: #222 !important;
    padding: 10px !important;
    border-radius: 0;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.btn-primary {
    background-color: #990000;
    color: #fff;
}

.btn-outline-primary {
    background-color: #fff;
    color: #000;
    
}

.title {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.title-lg {
    font-size: 48px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.mb-3 {
    margin-bottom: 24px;
}

.mt-3 {
    margin-top: 24px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 16px;
    color: #fff;
}

.card {
    display: inline-block;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    padding: 8px;
}

.card .card-img {
    width: 100%;
    height: 224px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-img-2 {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-img-2 img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card .card-img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card .card-content {
    padding: 12px;
}

.card .card-content .card-title {
    font-size: 19px;
    color: #222;
    font-weight: bold;
    margin-bottom: 12px;
}

.card .card-content p:not(.doc-topic) {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-bottom: 12px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-start {
    justify-content: start;
}

.g-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.g-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.author {
    display: inline-block;
    color: #222;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
}

.time {
    display: inline-block;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 12px;

}

.doc-topic {
    color: #676765;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .g-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .g-6 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container-sm {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .container-sm {
        padding-left: 24px;
        padding-right: 24px;
    }

    .g-6 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .g-6 {
        grid-template-columns: 1fr;
    }

    .g-6 .card:nth-child(n+4) {
        display: none;
    }

    .doc-topic {
        text-align: center;
    }
}

@media (max-width: 380px) {
    .register-btn {
        display: none;
    }
}